<section class="experiencia-content">
  <article class="descripcion">
    <h3>Una experiencia Unica</h3>
    <p>
      En nuestro restaurante, ofrecemos una experiencia culinaria única con los
      mejores platos de la gastronomía peruana. Desde el ceviche fresco hasta el
      lomo saltado, cada bocado es una explosión de sabor. Ven y disfruta de un
      ambiente acogedor mientras saboreas nuestras especialidade
    </p>
  </article>
  <mat-card appearance="outlined">
    <img mat-card-image [src]="culinariaImg" alt="Experiencia Culinaria" />
  </mat-card>
</section>
<section  class="reserva-content">
    <div class="background"></div>
  <mat-card appearance="outlined">
    <img mat-card-image [src]="mesaComidaImg" alt="Mesa con comida" />
  </mat-card>
  <article class="descripcion">
    <h3 >Reserva Hoy mismo.</h3>
    <p >Disfruta de una mezcla de sabores peruanos en cada bocado.</p>
    <button mat-stroked-button>Reservar</button>
  </article>
</section>
